$option-half-vertical-padding: 0.5rem;

$select-icons-width: 1.25rem;
$select-open-icon-half-horizontal-padding: 0.25rem;

$select-clear-icon-visible-opacity: 0.25;
$select-clear-icon-hover-opacity: 0.6;

// Defaults
$default-selected-font-size: 18px;
$default-options-font-size: 16px;
$default-max-options-item: 5;