$disabled-checkbox-icon-opacity: 0.2;
$unchecked-checkbox-icon-opacity: 0.6;
$checked-checkbox-icon-opacity: 1;

$bg-color-hover: rgba(0, 0, 0, 0.06);
$bg-color-active: rgba(0, 0, 0, 0.12);

// Defaults
$default-checkbox-size: 1.5rem !default;
