@use './colors/colors.variables.scss' as colors;

@each $name, $hex in colors.$colors {
  .#{$name} {
    color: $hex !important;
  }
  .bg-#{$name} {
    background-color: $hex !important;
  }
  .outline-#{$name} {
    outline-color: $hex !important;
  }
}