div.my-ripple-wrapper-touch, div.my-ripple-wrapper-mouse {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  pointer-events: none;
  overflow: hidden;
  div.my-ripple {
    margin-top: 0;
    margin-left: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    pointer-events: none;
    position: relative;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.15);
  }
}
