$thumb-shadow: 0 0.125rem 0.25rem -1px rgba(0, 0, 0, 0.2), 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.14);
$standard-thumb-shadow: $thumb-shadow, 0 1px 0.625rem 0 rgba(0, 0, 0, 0.12);
$standard-thumb-hover-shadow: $thumb-shadow, 0 0 1px 0.625rem rgba(0, 0, 0, 0.06);
$disabled-thumb-shadow:  0 1px 0.625rem 0 rgba(0, 0, 0, 0.08), 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);

// Defaults
$default-track-width: 2.25rem !default;
$default-track-height: 0.875rem !default;
$default-thumb-diameter: 1.25rem !default;
$default-track-inset-width: 3.25rem !default;
$default-track-inset-height: 2rem !default;
$default-thumb-inset-diameter: 1.75rem !default;
$default-transform: 10px !default;